<h2>{{booksShowCtrl.book.title}}</h2>
<hr>
<div class="row">
  <div class="col-xs-12">
    <img class="col-xs-6" ng-src={{booksShowCtrl.book.image}} alt="{{ booksShowCtrl.book.title }}">
    <div class="col-xs-6">
      <h3><a href='{{book.title}}'><span>{{booksShowCtrl.book.title}}</span></a></h3>
      <h4><span>{{booksShowCtrl.book.author}}</span></h4>
      <h5><span>{{booksShowCtrl.book.releaseDate}}</span></h5>
      <button class='btn btn-danger' ng-click="booksShowCtrl.deleteBook(book)">Delete Book</button>
      <button class='btn btn-info' ng-hide="editing" ng-click="editing = !editing">Edit Book</button>
      <button class='btn btn-success' ng-show="editing" ng-click="booksShowCtrl.editBook(book); editing = false">Save Changes</button>
      <input ng-show="editing" ng-model="booksShowCtrl.book.title" type="text" class="form-control input-md">
      <input ng-show="editing" ng-model="booksShowCtrl.book.author" type="text" class="form-control input-md">
      <input ng-show="editing" ng-model="booksShowCtrl.book.releaseDate" type="text" class="form-control input-md">
      <input ng-show="editing" ng-model="booksShowCtrl.book.image" type="text" class="form-control input-md">
      <button class='btn btn-info' ng-hide="!editing" ng-click="editing = !editing">Cancel</button>
    </div>
  </div>
</div>
